@page
@model AuthenticationService.Pages.LockAccountModel
@{
    ViewData["Title"] = "Lock Account";
}

<div id="page-data" data-token="@Model.Token" data-email="@Model.Email">
    <h2>@ViewData["Title"]</h2>
</div>

<script src="~/js/lock-account.js"></script>
