@page
@model AuthenticationService.Pages.LockAccountModel
@{
    ViewData["Title"] = "Lock Account";
}

<script>
    function LockoutAccount() {
        let token = '@Model.Token';
        let email = '@Model.Email';

        let request = {
            Email: email,
            Token: token,
        };

        fetch('api/account/lock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        })
        .then(data => {
            if (data.status == 200) {
                alert('Account locked');
                setTimeout(() => {
                    window.location.href = '/ActionComplete';
                }, 1000);
            } else {
                let errorMessages = '';
                if (Array.isArray(data.errors)) {
                    errorMessages = data.errors.join(' ');
                } else {
                    for (const key in data.errors) {
                        if (Array.isArray(data.errors[key])) {
                            errorMessages += data.errors[key].join(' ') + '\n';
                        } else {
                            errorMessages += data.errors[key] + '\n';
                        }
                    }
                }
                alert('Account lock failed:\n' + errorMessages);
            }
        })
        .catch(error => console.error('Error:', error));
    }

    window.onload = function() {
        LockoutAccount();
    };
</script>

<h2>@ViewData["Title"]</h2>
