@page
@model AuthenticationService.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<script>
    function submitResetPassword() {
        var email = document.getElementById('Email').value;
        var newPassword = document.getElementById('NewPassword').value;
        var confirmPassword = document.getElementById('ConfirmPassword').value;

        var request = {
            Email: email,
            NewPassword: newPassword,
            ConfirmPassword: confirmPassword,
            Token: "test",
            CallbackUri: "http://localhost"
        };

        fetch('https://localhost:7002/api/accounts/forgotpassword/reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Password reset successfully');
            } else {
                alert('Password reset failed');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

<h2>@ViewData["Title"]</h2>
<div>
    Email: <input type="text" id="Email" name="Email" placeholder="Enter email ..." />
</div>
<div>
    New password: <input type="password" id="NewPassword" name="NewPassword" placeholder="Enter new password ..." />
</div>
<div>
    Confirm password: <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter new password again..." />
</div>
<div>
    <button type="button" onclick="submitResetPassword()">Reset Password</button>
</div>