@page
@model AuthenticationService.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<script>
    function submitResetPassword() {
        var newPassword = document.getElementById('NewPassword').value;
        var confirmPassword = document.getElementById('ConfirmPassword').value;
        var token = '@Model.Token';
        var email = '@Model.Email';

        var request = {
            Email: email,
            NewPassword: newPassword,
            ConfirmPassword: confirmPassword,
            Token: token,
            CallbackUri: "/ActionComplete"
        };

        fetch('api/accounts/forgotpassword/reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
        })
        .then(response => {
            if (response.redirected){
                window.location.href = response.url;
            } else {
                return response.json();
            }
        })
        .then(data => {
            if (data.success) {
                alert('Password reset successfully');
            } else {
                let errorMessages = '';
                if (Array.isArray(data.errors)) {
                    errorMessages = data.errors.join(' ');
                } else {
                    for (const key in data.errors) {
                        if (Array.isArray(data.errors[key])) {
                            errorMessages += data.errors[key].join(' ') + '\n';
                        } else {
                            errorMessages += data.errors[key] + '\n';
                        }
                    }
                }
                alert('Password reset failed:\n' + errorMessages);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

<h2>@ViewData["Title"]</h2>
<div>
    New password: <input type="password" id="NewPassword" name="NewPassword" placeholder="Enter new password ..." />
</div>
<div>
    Confirm password: <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter new password again..." />
</div>
<div>
    <button type="button" onclick="submitResetPassword()">Reset Password</button>
</div>