@page
@model AuthenticationService.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div id="page-data" data-token="@Model.Token" data-email="@Model.Email">
    <h2>@ViewData["Title"]</h2>
    <div>
        New password: <input type="password" id="NewPassword" name="NewPassword" placeholder="Enter new password ..." />
    </div>
    <div>
        Confirm password: <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter new password again..." />
    </div>
    <div>
        <button type="button" id="reset-button">Reset Password</button>
    </div>
</div>

<script src="~/js/reset-password.js"></script>
